<h1>Bienvenido a mi aplicaci칩n</h1>
<p>Este es el contenido din치mico de la p치gina de inicio.</p>
{{#if user}}
  <p>Hola, {{user.first_name}}!</p>
{{else}}
  <p>Por favor, <a href="/api/sessions/login">inicia sesi칩n</a>.</p>
{{/if}}
